{% extends "layout.twig" %}

{% block body %}
  <div class="row">
    <div class="large-9 columns">
        <h1>About Me</h1>
        <p>Living in the Midwest, I work as a PHP / C++ developer at <a href="http://timeips.com">TimeIPS</a>.  In addition to my full time job, I also co-own a consulting business, <a href="http://tortugas-llc.com">Tortugas Consulting, LLC.</a> with my partner <a href="http://jacob-walker.com">Jacob Walker</a>.</p>

        <p>I share my life with my wonderful wife Whitney.  We are currently expecting our first child, a little girl, this December.  As you can imagine, we are both quite excited.</p>

        <h2>My Values</h2>
        <p>I have always loved learning.  A large portion of my free time is spent pursing a deeper understanding of core design principles, application architecture patterns, and researching various technologies.  No matter how much I learn, I am never satisified with what I have accomplished.  There is always the desire to push my skills one step further.</p>

        <p>Work ethic is extremely important to me, and something I take immense pride in.  In an era where the older values are slipping away, I strive at all times to maintain a consistent, unwavering adherence to the principles on which I was raised.  My previous employers, as well as my clients, have all commented on how well this shines through.</p>

        <p>Being a part of the developer community is extremely important to me.  Living in Kansas, my options tend to be quite limited.  That is why I strive to be involved where I can.  I contribute to <a href="http://github.com/keelerm84">open source projects</a> in my spare time, contributing in languages like PHP, Ruby, C++ and more.  I have also attended <a href="http://lonestarphp.com">Lonestar PHP</a> the last two years, and haven't missed a single month of <a href="http://nomadphp.com">NomadPHP</a> yet.</p>

        <p>Recently, a developer community started in the area, called <a href="http://upfrontwichita.com">UpFront Wichita</a>.  Having only been a member for one month, I quickly rose to take an active leadership role in the group, helping to organize our first Hackathon, contributing various features to our RoR site, and presenting two talks on git, which can be viewed on my <a href="http://www.youtube.com/user/keelerm84ify">YouTube</a> page.</p>

        <h2>Desires</h2>
        <p>While I do spend as much time as possible refining my skills at home, I really want to work with a team of seasoned developers where I can continue to grow my knowledge base.  My ideal job would be working at a place where testing is a focus, not an afterthought, and continual education for the team is a must.  Large scale data and deploying code used by thousands of people would be a dream come true.</p>

        <p>Even though I may not currently possess all the experience necessary to "run with the big dogs", I am confident my eagerness to learn, coupled with my proven ability to quickly pick up new technologies, makes me well suited for any position.</p>
    </div>

    <div class="large-3 columns">
      <h3>Skills</h3>
      <ul class="no-bullet">
          {% for skill in skills %}
            <li><div class="progress success"><span class="meter" style="width: {{ skill.weight }}%">{{ skill.skill }}</span></div></li>
          {% endfor %}
      </ul>
      <small>* Sample data taken from my <a href="http://mojolive.com/profile/keelerm84">MojoLive profile</a>, shown relative to months of experience</small>
    </div>
  </div>
{% endblock %}
