{% extends "layout.twig" %}

{% block body %}
  <div class="row panel">
<div class="large-9 columns">
      <h1 class="main">Matthew M. Keeler</h1>
      <p>
        Hello.  My name is Matthew Keeler, and I am an enthusiastic developer who loves learning new technologies.  Being involved in the community is also important to me.  That's why I contribute to <a href="github.com/keelerm84">open source projects</a>, and have taken a strong leadership role in the <a href="upfrontwichita.com">UpFront Wichita</a> developer group.
      </p>
    </div>

    <div class="large-3 columns">
      <img src="/img/matthew.jpg" class="profile">
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <h3>About Me</h3>
      <p>
        I have always prided myself in having a strong work ethic.  My commitment to my work has always been a source of great honor, and something my previous employers have always admired.
      </p>
    </div>
    <div class="small-4 columns">
      <h3>Portfolio</h3>
      <p>
        See examples of my work spanning a variety of languages, including PHP, C++, Node.js, Ruby, and Python, ranging from desktop applications to web applications to command line utilities.
      </p>
    </div>

    <div class="small-4 columns">
      <h3>Resume</h3>
      <p>
        My full resume is available for review.  Whether you're looking for contract work or full-time employment, my dedication, work ethic, and attention to detail make me a perfect fit for the job.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <a href="{{ url('about') }}" class="small button">Read more</a>
    </div>
    <div class="small-4 columns">
      <a href="#" class="small button">See for yourself</a>
    </div>

    <div class="small-4 columns">
      <a href="#" class="small button">View My Resume</a>
    </div>
  </div>
{% endblock %}
