<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>The Bug Genie</strong> - A friendly project management and issue tracking tool</span>
        <span class="right">PHP</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="http://www.thebuggenie.com/">The Bug Genie</a></h3>
        <p><img src="/img/portfolio/buggenie.png" /></p>
        <p>The BugGenie was the first open source project I contributed to.  It is an easy to use issue tracking / project management system, written in PHP.</p>
        <p>I have contributed various improvements, including fixing invalid links on generated emails, inappropriate handling of various ajax requests, and a variety of CSS based improvements.</p>
    </div>
</section>
