<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>dotfiles</strong> - De rigueur dotfiles repository</span>
        <span class="right">Misc.</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/keelerm84/dotfiles">dotfiles</a></h3>
        <p><img src="/img/portfolio/dotfiles.png" /></p>
        <p>What developer's github account would be complete without a dotfiles repo?</p>
        <p>My dotfiles repository is structured to work with <a href="https://github.com/andsens/homeshick">homeshick</a>, a bash based management system for maintaing your .dotfiles.  It includes the configurations for the tools I use most often, such as vim, tmux, zsh and irssi.</p>
    </div>
</section>
