<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>emacs configuration</strong> - Initialization files for the One True Editor</span>
        <span class="right">elisp</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/keelerm84/.emacs.d">emacs</a></h3>
        <p><img src="/img/portfolio/emacs.png" /></p>
        <p>Developers love their editors.  Typically, they love one to the exclusion of all others.  But this is definitely not the case with me.  In fact, you might say I have an editor addiction, having played with vim, Sublime Text, Eclipse, Netbeans, and of course emacs.</p>
        <p>My emacs configuration includes elisp code to perform auto installation and updating upon start up, as well as customizations to various packages.</p>
    </div>
</section>
