<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>find.torrent</strong> - An API based service to search and download torrent files from various sources.</span>
        <span class="right">PHP</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/Tortugas-Consulting-LLC/find.torrent">find.torrent</a></h3>
        <p>This API service was developed in collaboration with my business partner <a href="http://jacob-walker.com">Jacob Walker</a>.  It is a PHP based REST application, written using the BulletPHP framework, and using the HAL specification.</p>
        <p>With this service, you can easily search for torrents from a variety of sources and process one for downloading.</p>
    </div>
</section>
