<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>ft-nodejs</strong> - A node.js frontend for interfacing with the find.torrent service.</span>
        <span class="right">Node.js</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/keelerm84/ft-nodejs">ft-nodejs</a></h3>
        <p><img src="/img/portfolio/ft-nodejs.png" /></p>
        <p>The find.torrent service is a fantastic project, but on its own, it isn't very useful.  There must be an application built to manipulate it's API.</p>
        <p>ft-nodejs is a node.js project built to do exactly this.  Using node.js, the jade templating engine, and socket.io, it providers a simple, clean interface to search for torrents from a variety of devices.</p>
    </div>
</section>
