<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>Git Talks</strong> - A couple of talks I presented to the UpFront Wichita developers group.</span>
        <span class="right">git</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="http://www.youtube.com/watch?v=znilVsDph38">Git: From Init Through Commit</a></h3>
        <p>This is the first talk I presented to the UpFront Wichita developers group.  As an introduction to git, I cover the basics of initializing a repository, staging commits, performing resets, and how to use the different ignore strategies.</p>

        <h3><a href="http://www.youtube.com/watch?v=tG2xz6ee7mg">Git Part II: The Origin of Master</a></h3>
        <p>The second part of my git series addresses more of the concerns when working on git in a team dynamic.  Some of the topics covered include merges, rebasing, log and blame, and how to perform a bisect.</p>
    </div>
</section>
