<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>gitlist</strong> - An elegant and modern git repository viewer.</span>
        <span class="right">PHP</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/klaussilveira/gitlist">gitlist</a></h3>
        <p><img src="/img/portfolio/gitlist.png" /></p>
        <p>gitlist was built to be a modern web interface for multiple git repositories, using some of the latest frameworks, including Silex and Twig, with Twitter bootstrap for the design.</p>
        <p>I have contributed a few patches to this project, such as better handling for raw resource viewing and correcting paths to various commit objects.</p>
    </div>
</section>
