<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>matthewmkeeler.com</strong> - My personal homepage.  This very one!</span>
        <span class="right">PHP</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="{{ url('home') }}">matthewmkeeler.com</a></h3>
        <p><img src="/img/portfolio/matthewmkeeler.png" /></p>
        <p>This is the site you're currently browsing.  How meta!</p>
        <p>Built using Silex, Twig, Doctrine's DBAL, Symfony console, Foundation, and various other tools, it is my little corner of the web.</p>
        <p>It also gives me the freedom to play around with different technologies that I have been wanting to tinker with.  Development is done on a VM managed with Vagrant and Puppet, and the production site is deployed to a digitalocean droplet with phing.</p>
    </div>
</section>
