<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>Natural Organic Warehouse</strong> - An organic products distributor for commercial and personal usage.</span>
        <span class="right">PHP</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://cart.naturalorganicwarehouse.com/">Natural Organic Warehouse</a></h3>
        <p><img src="/img/portfolio/now.png" /></p>
        <p>Based on OpenCart, NOW is an e-commerce site built for a client of Tortugas Consulting.  As well as acting as a catalog of products, the site also interfaces with AvalarTax for tax generation, UPS for generating shipping labels and requests, and Authorize.net for easy payment.</p>
    </div>
</section>
