<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>TimeIPS</strong> - An intelligent personnel system</span>
        <span class="right">PHP / C++</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="http://timeips.com">TimeIPS</a></h3>
        <p><img src="/img/portfolio/timeips.png" /></p>
        <p>The TimeIPS intelligent personnel system is a PHP web-based application for automating time tracking and payroll calculations.</p>
        <p>In addition to working on the PHP backend, I have also worked extensively with the C++ embedded clocking device which performs fingerprint biometric validation.</p>
        <p>During my time, I also developed a cross-platform C++ QT application to allow clocking from the desktop, and designed the REST API used to communicate with the server.</p>
    </div>
</section>
