<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>timetrap</strong> - A ruby command line utility to track your time over various projects.</span>
        <span class="right">Ruby</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/samg/timetrap">timetrap</a></h3>
        <p><img src="/img/portfolio/timetrap.png" /></p>
        <p>timetrap is a simple Ruby based command line application to track your time on various projects.  This was the first Ruby project I have contributed to, implementing features such as a filter for viewing "todays" events, as well as a custom invoice generation formatter built with LaTeX.</p>
    </div>
</section>
