<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>UpFront Wichita</strong> - A Ruby on Rails site built for the local developer community group.</span>
        <span class="right">Ruby</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="http://upfrontwichita.com">UpFront Wichita</a></h3>
        <p><img src="/img/portfolio/upfrontwichita.png"></p>
        <p>The UpFront Wichita group is a new developer community for Wichita, Kansas.  Originally conceived as a front-end developer group, it has quickly expanded to encompass all things technology related.</p>
        <p>Our website is built using Ruby on Rails.  I have contributed numerous features, such as OAuth based sign in, and aggregation for videos of the talks, as well as a list of member blog posts from different RSS feeds.</p>
    </div>
</section>
