<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>My YoungLife Wichita</strong> - Registration site for events and activities</span>
        <span class="right">Ruby</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="http://myylwichita.com/">My YoungLife Wichita</a></h3>
        <p><img src="/img/portfolio/myyounglife.png" /></p>
        <p>YoungLife Wichita hosts a variety of activites and events for guests of all ages.</p>
        <p>Built from scratch, this site is implemented in Rails 4 and includes automated backup, deployment, a fully functional administrative section and more.</p>
    </div>
</section>
