<section>
    <p class="title" data-section-title>
      <a href="#">
        <span class="left"><strong>YouTube DL GUI</strong> - A cross-platform C++ GUI built on top of the populate YouTube DL commandline script.</span>
        <span class="right">C++</span>
      </a>
    </p>
    <div class="content" data-section-content>
        <h3><a href="https://github.com/keelerm84/youtube-dl-gui">YouTube DL GUI</a></h3>
        <p><img src="/img/portfolio/youtube-dl-gui.png"></p>
        <p>The wildly popular youtube-dl python script is an excellent tool for downloading and converting YouTube videos.  While it is an awesome tool, it isn't the most user friendly tool for some people.</p>
        <p>To make using it easier for my wife, I developed a cross-platform C++ QT GUI that drives the command line utility.  Files can be downloaded as video only, audio only, or as both, and automatically converted into a variety of formats.</p>
    </div>
</section>
